@charset "UTF-8";

/* 기존CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* login */
.login-join-section {
  width: 1140px;
  margin: 70px auto;
  /* margin: 0 auto; */
}
.login-container {
  clear: both;
}
.login-inner,
.join-inner {
  width: 512px;
  padding: 10px;
  background: #f2f2f2;
  float: left;
}
.join-inner {
  /* height: 180px; */
  float: right;
  font-size:12px;
}
.shop_ment {
  height: 240px;
  margin-top:20px;
}
.input-pw {
  margin-top: 10px;
}
.input-label-id,
.input-label-pw {
  font-size: 14px;
  color: #555;
}
.login-inner #member_id,
.login-inner #pw {
  width: 100%;
  height: 26px;
  line-height: 2.6;
  padding: 0 10px;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
  outline: none;
}
.login-button-flex {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 3px 0 0;
  /* margin: 25px 3px 0 0; */
}
.login-join {
  width: 165px;
  padding: 9px 0px;
  background: #002157;
  border: #002157;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.join-button {
  display: block;
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  float:right;
}
.social-login {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.login-find-wrap {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #d6d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-find-text {
  font-size: 14px;
}
.find-id,
.find-pw {
  display: inline-block;
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
}

/* signUp */
.signUp-wrap{
	margin-top:80px;
}
.signUp-inner {
  width: 550px;
  margin: 0 auto;
}
.signUp-inner h2 {
  text-align: center;
  display: block;
  padding: 18px;
  background: #002a71;
  color: #fff;
}
.signUp-inner table {
  width: 550px;
}
.signUp-inner table tr {
  border: 1px solid #dadada;
}
.sign-td {
  padding-left: 2%;
}
.signUp-inner input {
  width: 50%;
  padding: 10px;
  border: 0;
  font-size: 15px;
  outline: none;
}
.signUp-button-wrap {
  /* width: 20%; */
  /* margin: 10px auto 0; */
  width: 45%;
  margin: 30px auto 0;
}
.signUp-button {
/*   padding: 10px 28px;
  border: 0;
  background: #002a71;
  color: #fff;
  cursor: pointer; */
  width: 234px;
  height: 64px;
  line-height: 66px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background: #0549bb;
  border: 1px solid #053688;
  cursor: pointer;
  outline: none;
}

/* header CSS */

img {
  border: none;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

address {
  font-style: normal;
}

.bld {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.clb {
  clear: both;
}

a:visited {
  color: var(--black);
}

.inbox {
  max-width: 1200px;
  margin: 0 auto;
}

.body__container {
  position: relative;
  width: 100%;
  /* height: 100%;  수정 전 */
}

.header_container {
  position: relative;
}

.header_container::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 41px;
  background-color: var(--black);
}

.header_container::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: #eee;
}

.header_container .topgnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px 0;
  color: var(--white);
  font-size: 0.8rem;
  min-width: 940px;
}

.header_container .topgnb a {
  color: var(--white);
}

.header_container .topgnb .topgnb__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}

.header_container .topgnb .topgnb__left li {
  position: relative;
  padding: 0 10px;
}

.header_container .topgnb .topgnb__left li:first-child::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  background-color: transparent;
}

.header_container .topgnb .topgnb__left li::after {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  left: 0;
  width: 1px;
  height: 31px;
  background-color: var(--gray);
  opacity: 0.6;
}

.header_container .topgnb .topgnb__left li:first-child a::before {
  content: '★';
  position: absolute;
  top: -6px;
  left: -13px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
}

.header_container .topgnb .topgnb__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.header_container .topgnb .topgnb__right li {
  position: relative;
  padding: 0 10px;
}

.header_container .topgnb .topgnb__right li:first-child::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  background-color: transparent;
}

.header_container .topgnb .topgnb__right li::after {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  left: 0;
  width: 1px;
  height: 31px;
  background-color: var(--gray);
  opacity: 0.6;
}

.header_container .top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 940px;
}

.header_container .top .header {
  margin: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header_container .top .header .top__logo {
  position: relative;
  width: 360px;
  font-size: 4.2rem;
  font-weight: bold;
  cursor: pointer;
}

.header_container .top .top__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
}

.header_container .top .top__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: var(--black);
}

.header_container .top .top__form form input {
  width: 220px;
  height: 36px;
}

.header_container .top .top__form form a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 38px;
  height: 42px;
}

.header_container .top .top__form form a svg {
  margin-top: 11px;
}

.header_container .top .top__form form a svg .search_svg {
  fill: var(--white);
}

.header_container .gnb {
  position: relative;
}

.header_container .gnb .nav {
  min-width: 1000px;
}

.header_container .gnb .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  margin-top: 6px;
  margin-bottom: 6px;
}

.header_container .gnb .nav ul li {
  position: relative;
}

.header_container .gnb .nav ul li a {
  color: var(--black);
  font-size: 1.1rem;
}

.header_container .gnb .nav ul li:hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 29px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: var(--black);
}

/* footer */
.footer-container {
  width: 100%;
  height: 264px;
  background: #1e1e1e;
}
.footer-info {
  width: 1140px;
  margin: 0 auto;
}
/* .footer-clear {
  clear: both;
} */
.footer-clear li {
  float: left;
}